
@(allCinemas : List[models.Cinema])

@search()

<form action="@routes.CinemasActions.createCinema()" method="post">
    <div class="form-group">
        <table >
            <tr>
                <td>Name</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Location</td>
                <td> <input type="text" name="location"></td>
            </tr>
            <tr>
                <td>Number of Rooms</td>
                <td><input type="text" name="numberOfRooms"></td>
            </tr>
            <tr>
                <td>Group Discount</td>
                <td><input type="checkbox" name="groupDiscount" value="1" checked></td>
            </tr>
            <tr>
                <td> Cinema URL</td>
                <td><input type="text" name="cinemaURL"></td>
            </tr>
        </table>

    <button  type="submit" width="90px">Create Cinema</button>
    </div>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
            <th>Name</th>
            <th>location</th>
            <th>number of rooms</th>
            <th>group discount</th>
            <th>cinema URL</th>
        </tr>
        @for(cinema <- allCinemas){
            <tr>
                <td>@cinema.name</td>
                <td>@cinema.location</td>
                <td>@cinema.numberOfRooms</td>
                <td>@cinema.groupDiscount</td>
                <td>@cinema.cinemaURL</td>
            </tr>
        }
    </table>
</form>


