
@(allMovies : List[models.Movie])

@search()

  <div class="form-group">

  <table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
      <th>id</th>
      <th>imdbId</th>
      <th>Title</th>
    </tr>
    @for(movie <- allMovies){
      <tr>
        <td>@movie.id</td>
        <td>@movie.imdbId</td>
        <td>@movie.title</td>
      </tr>
    }
  </table>
  </div>



