@(allCinemas : List[models.Cinema], allMovies : List[models.Movie],allShows : List[models.Show])

@search()



  <form action="@routes.ShowsActions.createShow()" method="post">
  <div class="form-group">
      <table name="shows-table">
          <tr>
              <td>Start Time</td>
              <td><input type="text" name="startTime"></td>
          </tr>

          <tr>
              <td>Show Language</td>
              <td>
                  <select name="showLanguage">
                      <option  value="English">English</option>
                      <option  value="German">German</option>
                  </select>
              </td>
          </tr>
          <tr>
              <td>originalVersion</td>
              <td><input type="checkbox" name="originalVersion" value="1" checked></td>
          </tr>
          <tr>
              <td>3D version</td>
              <td><input type="checkbox" name="is3D" value="1" checked></td>
          </tr>
          <tr>
              <td>Capacity</td>
              <td><input type="text" name="capacity"></td>
          </tr>
          <tr>
              <td>Ticket Price</td>
              <td><input type="text" name="ticketPrice"></td>
          </tr>
          <tr>
              <td>Movie Title</td>
              <td>
                  <select name="movieId"class="form-control">
                      @for(movie <- allMovies){
                      <option value="@movie.id">@movie.title</option>
                      }
                  </select>
              </td>
          </tr>
          <tr>
              <td>Cinema </td>
              <td>
                  <select name="cinemaId" class="form-control">
                  @for(cinema <- allCinemas){
                      <option value="@cinema.id">@cinema.name</option>
                  }
                  </select>
              </td>
          </tr>

      </table>
  </div>
    <button class="form-control" type="submit">Create Show</button>
  </form>
<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th>startTime</th>
        <th>showLanguage</th>
        <th>originalVersion</th>
        <th>capacity</th>
        <th>ticketPrice</th>
        <th>Movie Title</th>
        <th>Cinema Name</th>
    </tr>

    @for(show <- allShows) {
        <tr>
            <td>@show.startTime</td>
            <td>@show.showLanguage</td>
            <td>@show.originalVersion</td>
            <td>@show.capacity</td>
            <td>@show.ticketPrice</td>
            <td>@show.movieId</td>
            <td>@show.cinemaId</td>
        </tr>
    }

</table>
